<div class="container">
  <h2 id="about-us">About Us!</h2>
  <hr>
<div class="row profile" >
  <div class="col l6  ">
    <div class="hover-fold cards">
    <br>
      <h4>Christian Martinez</h4>
      <br>
      <div class="cardButtonRow">
     </div>
      <div class="top">
        <div class="front face"><img src="https://media3.giphy.com/media/JIX9t2j0ZTN9S/giphy.gif?response_id=591cc623f7ecc2e88e806a65" width="100%" height="200%"></div>
        <div class="back face">
          <p>Diet: Pizza and coffee</p>
          <p>Favorite Planet: Saturn</p>
          <p>Likes: Mechanical switches and sanwa buttons</p>
          <p>Dislikes: I hate that my freezer doesn't have a light, what about my midnight snacks?</p>
          <p><a href="https://github.com/christiangmartinez" target="blank">Github</a></p>
         </div>
        </div>
       </div>
      </div>


 <div class="col l6 ">
   <div class="hover-fold cards">
   <br>
     <h4>Shane Stafford</h4>
     <br>
     <div class="cardButtonRow">
    </div>
     <div class="top">
       <div class="front face"><img src="https://media.giphy.com/media/BJrcNFWxtdxSw/giphy.gif" width="100%" height="200%"></div>
       <div class="back face">
         <p>Diet: Kind Bars and Salads</p>
         <p>Favorite Planet: Saturn</p>
         <p>Likes: O(+></p>
         <p>Dislikes: I hate that my dishes won't do themselves.</p>
         <p><a href="https://github.com/darkknightsds" target="blank">Github</a></p>
        </div>
       </div>
      </div>
     </div>
     <br>

  <div class="col l6 ">
    <div class="hover-fold cards">
    <br>
      <h4>Evan Bishop</h4>
      <br>
      <div class="cardButtonRow">
     </div>
      <div class="top">
        <div class="front face"><img src="https://media.giphy.com/media/9wAHgcKyAq45a/giphy.gif?response_id=591cd0961eac17e1e5ab1649" width="100%" height="200%"></div>
        <div class="back face">
          <p>Diet: Chocolate Muffin, warmed twenty seconds and served with a glass of chilled  milk.</p>
          <p>Favorite Planet: Mega-Earth Kepler-10c</p>
          <p>Likes: Sleeping</p>
          <p>Dislikes: Not Sleeping</p>
          <p><a href="https://github.com/EB888" target="blank">Github</a></p>
         </div>
        </div>
       </div>
     </div>
     <br>

   <div class="col l6">
     <div class="hover-fold cards">
     <br>
       <h4>Jahan Walsh </h4>
       <br>
       <div class="cardButtonRow">
      </div>
       <div class="top">
         <div class="front face"><img src="https://media.giphy.com/media/YFbjcisjYX6mc/giphy.gif" width="100%" height="200%"></div>
         <div class="back face">
           <p>Diet: Pistachios and Sausage </p>
           <p>Favorite Planet: Kashykk </p>
           <p>Likes: Belly Rubs </p>
           <p>Dislikes: When my dog steals my sausage.</p>
           <p><a href="https://github.com/jwalsh370" target="blank">Github</a></p>
          </div>
         </div>
        </div>
       </div>
       <br>


  <div class="col l6 ">
    <div class="hover-fold cards">
    <br>
      <h4>Andy Malkin </h4>
      <br>
      <div class="cardButtonRow">
     </div>
      <div class="top">
        <div class="front face"><img src="https://media.giphy.com/media/jJqWEAYkWrxWE/giphy.gif" width="100%" height="200%"></div>
        <div class="back face">
          <p>Diet: Green Drink </p>
          <p>Favorite Planet: CoRoT-7b </p>
           <p>Likes: Going Fast on my bike! </p>
          <p>Dislikes: I'm working on a cure for sweating. I do not like sweating. </p>
          <p><a href="https://github.com/ioitiki" target="blank">Github</a></p>
         </div>
        </div>
       </div>
      </div>
    </div>

</div>
