
  <div class="container">

    <h4>About Us!</h4>
    <hr>
  <div class="row profile" >
    <div class="col l6  ">
      <div class="hover-fold cards">
      <br>
        <h4>Christian Martinez</h4>
        <br>
        <div class="cardButtonRow">
       </div>
        <div class="top">
          <div class="front face"><img src="https://avatars1.githubusercontent.com/u/21327650?v=3&u=3f17c24cf0a5ce1272c8d58c2ef8b5e5e9a47ca1&s=400" width="100%" height="200%"></div>
          <div class="back face">
            <p>Diet: Pizza Rolls</p>
            <p>Favorite Planet: Venus </p>
            <p>Likes: I like watching cats. </p>
            <p>Dislikes: </p>
           </div>
          </div>
         </div>
        </div>


   <div class="col l6 ">
     <div class="hover-fold cards">
     <br>
       <h4> Shane Stafford</h4>
       <br>
       <div class="cardButtonRow">
      </div>
       <div class="top">
         <div class="front face"><img src="https://avatars1.githubusercontent.com/u/25571782?v=3&u=ddc64007f04e50f2eec6e745307c33f767a0c7bd&s=400" width="100%" height="200%"></div>
         <div class="back face">
           <p>Diet: Kind Bars and Coffee </p>
           <p>Favorite Planet: Jupiter </p>
           <p>Likes: </p>
           <p>Dislikes:</p>
          </div>
         </div>
        </div>
       </div>
       <br>

    <div class="col l6 ">
      <div class="hover-fold cards">
      <br>
        <h4>Evan Bishop </h4>
        <br>
        <div class="cardButtonRow">
       </div>
        <div class="top">
          <div class="front face"><img src="http://4.bp.blogspot.com/-ItpAZyXW7Xk/U4Uvvz_VgEI/AAAAAAAAggg/qxM8uCDE_7k/s1600/PointBreak_221Pyxurz.jpg" width="100%" height="200%"></div>
          <div class="back face">
            <p>Diet: </p>
            <p>Favorite Planet: </p>
             <p>Likes: </p>
            <p>Dislikes:</p>
           </div>
          </div>
         </div>
       </div>
       <br>

     <div class="col l6">
       <div class="hover-fold cards">
       <br>
         <h4>Jahan Walsh </h4>
         <br>
         <div class="cardButtonRow">
        </div>
         <div class="top">
           <div class="front face"><img src="https://media.giphy.com/media/YFbjcisjYX6mc/giphy.gif" width="100%" height="200%"></div>
           <div class="back face">
             <p>Diet: </p>
             <p>Favorite Planet: </p>
               <p>Likes: </p>
             <p>Dislikes:</p>
            </div>
           </div>
          </div>
         </div>
         <br>


    <div class="col l6 ">
      <div class="hover-fold cards">
      <br>
        <h4>Andy Malkin </h4>
        <br>
        <div class="cardButtonRow">
       </div>
        <div class="top">
          <div class="front face"><img src="https://media.giphy.com/media/jJqWEAYkWrxWE/giphy.gif" width="100%" height="200%"></div>
          <div class="back face">
            <p>Diet: </p>
            <p>Favorite Planet: </p>
             <p>Likes: </p>
            <p>Dislikes:</p>
           </div>
          </div>
         </div>
        </div>
      </div>

</div>
