<ul materialize="collapsible" class="collapsible" data-collapsible="accordion">
  <li>
    <div class="collapsible-header blue-grey darken-4"><span class="card-title white-text"><h3><img id="nasa-api-img" src="https://holytransaction.com/landing/img/landing/api.png" alt="" width="50px" height="50px">NASA API</h3></span></div>
    <div class="collapsible-body">
      <span><a class="btn blue-grey darken-4" href="https://api.nasa.gov/api.html#NeoWS" target="blank">View NASA API</a><br><hr>
      <h4 class="white-text">NASA's home base for the API that powered this website. NASA has many great APIs for developers that connect you with amazing data about Earth, our solar system and beyond.</h4></span>
    </div>
  </li>
  <br>
  <li>
    <div class="collapsible-header blue-grey darken-4"><span class="card-title white-text"><h3><img id="nasa-img" src="https://www.nasa.gov/sites/all/themes/custom/nasatwo/images/nasa-logo.svg" width="50px" height="50px" alt="">NASA Homepage</h3></span></div>
    <div class="collapsible-body">
      <span><a class="btn blue-grey darken-4" href="https://www.nasa.gov/" target="blank">Visit NASA's Web Site</a><br><hr>
      <h4 class="white-text">The National Aeronautics and Space Administration is an independent agency of the executive branch of the United States federal government responsible for the civilian space program, as well as aeronautics and aerospace research.</h4></span>
    </div>
  </li>
  <br>
  <li>
    <div class="collapsible-header blue-grey darken-4"><span class="card-title white-text"><h3><img id="hubble-img" src="http://amazingspace.org/resources/explorations/groundup/lesson/scopes/hubble/graphics/tele_hst_big.jpg" width="50px" height="50px" alt="">Hubble Satellite Home Page</h3></span></div>
    <div class="collapsible-body">
      <span><a class="btn blue-grey darken-4" href="http://hubblesite.org/" target="blank">Visit Hubble Web Site</a><br><hr>
      <h4 class="white-text">
        At the Space Telescope Science Institute (STScI), we're working hard to study and explain the once-unimaginable celestial phenomena now made visible using Hubble's cutting-edge technology. In the course of this exploration we will continue to share with you the grace and beauty of the universe, because the discoveries belong to all of us.
      </h4></span>
    </div>
  </li>
  <br>
  <li>
    <div class="collapsible-header blue-grey darken-4"><span class="card-title white-text"><h3><img id="weather-img" src="https://cdn3.iconfinder.com/data/icons/weather-meteorology-2/64/weather-sun-moon-eclipse-128.png" width="50px" height="50px" alt="">Space Weather Prediction Center</h3></span></div>
    <div class="collapsible-body">
      <span><a class="btn blue-grey darken-4" href="http://www.swpc.noaa.gov/" target="blank">Learn More About Space Weather</a><br><hr>
      <h4 class="white-text">Space Weather impacts numerous facets of everyday life, from where airplanes can safely fly, to how accurately a farmer plows his field. In addition, there are a large variety of phenomena that are driven by the variability of the sun over periods ranging from hours to years. SWPC provides information for novices and experts alike about the impacts and phenomena of Space Weather.</h4></span>
    </div>
  </li>
  <br>
  <li>
    <div class="collapsible-header blue-grey darken-4"><span class="card-title white-text"><h3><img id="khana-img" src="https://pbs.twimg.com/profile_images/576480569028009984/YWq8EwXd.png" width="50px" height="50px" alt="">Khan Academy</h3></span></div>
    <div class="collapsible-body">
      <span><a class="btn blue-grey darken-4" href="https://www.khanacademy.org/science/cosmology-and-astronomy" target="blank">Check Out Khan Academy</a><br><hr>
      <h4 class="white-text">Khan Academy offers practice exercises, instructional videos, and a personalized learning dashboard that empower learners to study at their own pace in and outside of the classroom. </h4></span>
    </div>
  </li>
  <br>
  <li>
    <div class="collapsible-header blue-grey darken-4"><span class="card-title white-text"><h3><img id="space-invaders-img" src="http://corantijn.website4kids.nl/wp-content/uploads/2017/02/mzl.szwxufkn.256x256-75-1.jpg" width="50px" height="50px" alt="">Space invaders</h3></span></div>
    <div class="collapsible-body">
      <iframe src="http://funhtml5games.com?embed=spaceinvaders" style="width:800px;height:550px;border:none;" frameborder="0" scrolling="no"></iframe>
    </div>
  </li>
</ul>
