<header>
  <nav>
    <div class="nav-wrapper blue-grey darken-1">
      <a href=""><img src="../assets/images/icon.png" id="nav-icon" alt=""></a><a href="" class="brand-logo">Space Besties Asteroid Tracker</a>
      <ul class="right">
        <li><a routerLink="timeline">Timeline</a></li>
        <li><a routerLink="celestial-mechanics">Celestial Mechanics</a></li>
        <li><a routerLink="resources">Resources</a></li>
        <li><a routerLink="about"><i class="material-icons">info_outline</i></a></li>
      </ul>
    </div>
  </nav>
</header>
<main>
<router-outlet></router-outlet>
</main>
<footer class="page-footer blue-grey darken-1">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Asteroid Tracker</h5>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2017 Copyright Space Besties Team
    </div>
  </div>
</footer>
