/* You can add global styles to this file, and also import other style files */
body{
  background-image: url(http://wallpapercave.com/wp/JzfvVHJ.jpg);
}
/*#main-wrapper{
  background-color:#819ca9;
}*/
.custom-font{
  /*color:#e04338;*/
  font-weight: bold;
}
