body{
  background-image: url(http://wallpapercave.com/wp/JzfvVHJ.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.custom-font{
  font-weight: bold;
}

#main-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

a:hover {
  color: yellow;
}
