body{
  background-image: url(http://wallpapercave.com/wp/JzfvVHJ.jpg);
}
.custom-font{
  font-weight: bold;
}

#main-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
